[Unit]
Description=Enables the InputShare server
After=multi-user.target enable_hid.service

[Service]
Type=simple
ExecStart=/usr/bin/inputshare-server 12351 hardware
Restart=on-failure

[Install]
WantedBy=multi-user.target
